@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/alex\/development\/gwwc\/givingwhatwecan\/sites\/all\/themes\/summerton\/sass\/layouts\/internal_layout\.scss}line{font-family:\000031}}
div .left {
  float: left;
  display: inline-block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/alex\/development\/gwwc\/givingwhatwecan\/sites\/all\/themes\/summerton\/sass\/layouts\/internal_layout\.scss}line{font-family:\000036}}
div .right {
  float: right;
  width: 800px;
}
