
.gwwc3footersitemapcolumn {
	border-right: 1px solid #252525;  /* NEEDS REPLACING - placeholder from Tom */
	width: 127px;
	padding-left: 28px;
	padding-right: 10px;
	float: left;
}

.gwwc3footersitemapcolumn.last {
	border-right: none;
}

.gwwc3footersitemapcolumn h2 {
	margin-top: 0;
	text-transform: uppercase;
	font-size: 1.142em;
	color: #5b5850;
	font-weight: 600;
	margin-bottom: 12px;
}

.gwwc3footersitemapcolumn a {
	color: #5b5850;
}

.gwwc3footersm {
  padding-right: 26px;
}

/* copyright */
#block-block-21 {
	text-align: center;
	color: #655d54;
	padding: 22px 0 54px;

}

/* Callout */
.callout {
    position: relative;
    margin: 10px 0 5px;
    /*
    padding: 5px 12px;
    background-color: #404040;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    */
	width: 286px;
}


.callout ul,
.callout li
 {
	height: 100px;

}

.callout .notch {
    position: absolute;
    top: 109px;
    left: 30px;
    margin: 0;
    border-top: 10px solid #404040;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 0 solid #404040;
    padding: 0;
    width: 0;
    height: 0;
    /* ie6 height fix */
    font-size: 0;
    line-height: 0;
     /* ie6 transparent fix */
    _border-right-color: pink;
    _border-left-color: pink;
    _filter: chroma(color=pink);
}

/* Background Color */
.tb2 {
	background-color : #580000;
	border: 1px solid #008000;
	/*width: 230px;*/
	height: 40px;
	text-align:center;
	vertical-align: middle; 
}

.tb2 a {
display: block;
height: 100%;
width: 100%;
}

.tweet {
        color: white;
        font-size: 0.75em;
        line-height: 1.5em;
	width: 261px;
/*	height: 100px;*/

    padding: 5px 12px;
    background-color: #404040;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

.query {
        color: white;
        font-size: 0.75em;
}

        .tweet_list {
                list-style: none;
                margin: 0;
                padding: 0;
                overflow-y: hidden;
        }

                .tweet_list li {
                        overflow-y: auto;
                        overflow-x: hidden;
                        padding: 0.5em;
                        list-style-type: none;
                }

                        .tweet_list li a {
                                color: #00FFFF;
                        }

                .tweet_list .tweet_even {
                        background-color:#404040;
                }

                .tweet_list .tweet_avatar {
                        padding-right: .5em; float: left;
                }

                        .tweet_list .tweet_avatar img {
                                vertical-align: middle;
                        }
                              
		.tweet .tweet_list .tweet_time {
		display: block;
		padding-top: 3px;
		}
			.tweet .tweet_list .tweet_time a {
			color: black;
			}
			
		.tweet .tweet_list .tweet_text {
		line-height: 1em;
		}
#mediarbar {
background-color: white;
padding-left: 20px;

}
