/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

/* Import Sass mixins, variables, Compass modules, etc. */
@import "init";

/* HTML element (SMACSS base) rules */
@import "normalize";

/* Layout rules */
@import "layouts/gwwc";

/* Component (SMACSS module) rules */
@import "components/misc";
@import "components/fonts";
@import "components/images";
@import "components/page";
@import "components/header";
@import "components/footer";
@import "components/charities";
@import "layouts/internal_layout";

/* print modifications */
@import "print";

/* SMACSS theme rules */
/* @import "theme-A"; */
/* @import "theme-B"; */
