@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/alex\/development\/gwwc\/givingwhatwecan\/sites\/all\/themes\/summerton\/sass\/layouts\/internal_layout\.scss}line{font-family:\000032}}
.clearfix {
  zoom: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/alex\/development\/gwwc\/givingwhatwecan\/sites\/all\/themes\/summerton\/sass\/layouts\/internal_layout\.scss}line{font-family:\000034}}
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/alex\/development\/gwwc\/givingwhatwecan\/sites\/all\/themes\/summerton\/sass\/layouts\/internal_layout\.scss}line{font-family:\0000310}}
.clearfix:after {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/alex\/development\/gwwc\/givingwhatwecan\/sites\/all\/themes\/summerton\/sass\/layouts\/internal_layout\.scss}line{font-family:\0000314}}
div .left {
  float: left;
  display: inline-block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/alex\/development\/gwwc\/givingwhatwecan\/sites\/all\/themes\/summerton\/sass\/layouts\/internal_layout\.scss}line{font-family:\0000320}}
div .right {
  float: right;
  width: 800px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/alex\/development\/gwwc\/givingwhatwecan\/sites\/all\/themes\/summerton\/sass\/layouts\/internal_layout\.scss}line{font-family:\0000325}}
div .wideblock {
  padding: 40px 0px 40px 0;
}

/* For modern browsers */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/alex\/development\/gwwc\/givingwhatwecan\/sites\/all\/themes\/summerton\/sass\/layouts\/internal_layout\.scss}line{font-family:\0000338}}
.container:before, div .wideblock:before,
.container:after,
div .wideblock:after {
  content: "";
  display: table;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/alex\/development\/gwwc\/givingwhatwecan\/sites\/all\/themes\/summerton\/sass\/layouts\/internal_layout\.scss}line{font-family:\0000342}}
.container:after, div .wideblock:after {
  clear: both;
}

/* For IE 6/7 (trigger hasLayout) */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/alex\/development\/gwwc\/givingwhatwecan\/sites\/all\/themes\/summerton\/sass\/layouts\/internal_layout\.scss}line{font-family:\0000346}}
.container, div .wideblock {
  zoom: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/alex\/development\/gwwc\/givingwhatwecan\/sites\/all\/themes\/summerton\/sass\/layouts\/internal_layout\.scss}line{font-family:\0000351}}
.justify {
  text-align: justify;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/alex\/development\/gwwc\/givingwhatwecan\/sites\/all\/themes\/summerton\/sass\/layouts\/internal_layout\.scss}line{font-family:\0000355}}
.inline {
  display: inline-block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/alex\/development\/gwwc\/givingwhatwecan\/sites\/all\/themes\/summerton\/sass\/layouts\/internal_layout\.scss}line{font-family:\0000359}}
.stretch {
  width: 100%;
  display: inline-block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/alex\/development\/gwwc\/givingwhatwecan\/sites\/all\/themes\/summerton\/sass\/layouts\/internal_layout\.scss}line{font-family:\0000367}}
div.circular {
  width: 260px;
  height: 260px;
  border-radius: 130px;
  -webkit-border-radius: 130px;
  -moz-border-radius: 130px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  margin-bottom: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/alex\/development\/gwwc\/givingwhatwecan\/sites\/all\/themes\/summerton\/sass\/layouts\/internal_layout\.scss}line{font-family:\0000380}}
p.caption {
  width: 260px;
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/alex\/development\/gwwc\/givingwhatwecan\/sites\/all\/themes\/summerton\/sass\/layouts\/internal_layout\.scss}line{font-family:\0000386}}
.tcenter {
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/alex\/development\/gwwc\/givingwhatwecan\/sites\/all\/themes\/summerton\/sass\/layouts\/internal_layout\.scss}line{font-family:\0000390}}
p.inline {
  display: inline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/alex\/development\/gwwc\/givingwhatwecan\/sites\/all\/themes\/summerton\/sass\/layouts\/internal_layout\.scss}line{font-family:\0000397}}
input.short {
  width: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/alex\/development\/gwwc\/givingwhatwecan\/sites\/all\/themes\/summerton\/sass\/layouts\/internal_layout\.scss}line{font-family:\00003100}}
input.long {
  width: 60px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/alex\/development\/gwwc\/givingwhatwecan\/sites\/all\/themes\/summerton\/sass\/layouts\/internal_layout\.scss}line{font-family:\00003105}}
div#email-signup {
  height: 50px;
  padding: 5px;
  display: inline-block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/alex\/development\/gwwc\/givingwhatwecan\/sites\/all\/themes\/summerton\/sass\/layouts\/internal_layout\.scss}line{font-family:\00003108}}
div#email-signup p {
  line-height: 25px;
  float: left;
  display: inline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/alex\/development\/gwwc\/givingwhatwecan\/sites\/all\/themes\/summerton\/sass\/layouts\/internal_layout\.scss}line{font-family:\00003115}}
div#email-signup button {
  display: inline;
}
