.charity-quotations {
  .text p{
  color:$brand-red-bg;
  }
  .strong {
  color:black;
  font-weight:bold;
  }
  h2.light{
    font-weight:300;
    color:$brand-red-bg;
  }
  hr{
    border:0;
    border-bottom:1px dashed #ccc;
  }
}
