/* default html/body elementss to the footer's bg, in case it's not actually at the bottom */
body,
html,
#footer-container {
  background: #161614 image-url("footer.png");
}

$footer-text-color: #5b5850;
#footer {
  color: $footer-text-color;
  a, a:visited {
    color: $footer-text-color;
    &:hover, &:focus {
      color: darken($footer-text-color, 10);
    }
  }
}

#footernav {
  @include reset-box-model;
  float: left;
  display: table;
  li {
    @include no-bullet;
  }
  >li {
    *float: left; //ie<=7 hack
    display: table-cell;
    border-left: groove $brand-dark-grey-fg 2px;
    padding: 0 2.5em;
    >a {
      font-weight: bold;
      text-transform: uppercase;
    }
  }
  >li:first-child {
    border-left: none;
    padding-left: 0;
  }
  ul {
    @include reset-box-model;
    margin-top: 1em;
    @include adjust-font-size-to( 0.9 * $base-font-size );
    a {
      text-transform: lowercase;
    }
  }
}

#copyright-notice {
  text-align: center;
}

$twitter-background-color-fallback: #535352;
$twitter-background-color: rgba(255,255,255,0.3);
#footer-social-media {
  float: right;
  padding-top: 0.35em; // aim is to match top of menu text
  width: 18em;

  .tweet {
    min-height: 2em;
    color: white;
    padding: 0.75em 1.25em;
    background-color: $twitter-background-color-fallback;
    background-color: $twitter-background-color;
    @include border-radius(0.3em);
    .tweets-pulled-listing {
      @include reset-box-model;
      li {
        @include no-bullet;
      }
    }
    .tweet-text {
      @include adjust-font-size-to( 0.8 * $base-font-size );
      a, a:visited {
        color: $brand-red-bg;
      }
    }
    .tweet-footer {
      @include adjust-font-size-to( 0.75 * $base-font-size );
      font-style: italic;
      a, a:visited {
        color: black;
      }
    }
    .tweet-author-wrapper, .tweet-actions {
      display: none;
    }
  }
  .buttonbar {
    @include clearfix;
    position: relative;
    padding-top: 1em;
    .twitter-bird {
      display: inline-block;
      background-image: image-url("social-media/greytweetbird.png");
      background-repeat: no-repeat;
      height: image-height("social-media/greytweetbird.png"); 
      width: image-width("social-media/greytweetbird.png"); 
    }
    .twitter-notch {
      //display: none;
      position: absolute;
      top: 0px;
      left: image-width("social-media/greytweetbird.png") + 4px;
      margin: 0;
      border-top: 20px solid $twitter-background-color-fallback;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 0 solid $twitter-background-color-fallback;
      padding: 0;
      width: 0;
      height: 0;
      /* ie6 height fix */
      font-size: 0;
      line-height: 0;
       /* ie6 transparent fix */
      _border-right-color: pink;
      _border-left-color: pink;
      _filter: chroma(color=pink);
    }
  }
  .social-media-links {
    float: right;
  }
}


// vim:sts=2:sw=2:et
