/**
 * Branding header and the navigation bar
 *
 * See layouts/_gwwc.scss for the actual positioning etc.
 *
 * Author: Alex Merry
 */

@import "compass/typography/lists/horizontal-list";

#header-container {
  @include white-on-red;

  ul.quick-links {
    @include reset-box-model;
    margin-right: 0.6em;
    li {
      float: left;
      list-style-type: disc;
      /* FIXME: this value seems fragile */
      margin-left: 1.8em;
      &.first {
        list-style-type: none;
        margin-left: 0;
      }
    }
  }
  ul.highlighted-links {
    @include horizontal-list($padding: 0.3em);
    margin-right: 0.6em;
    a {
      @include button-link($background: $gwwc-red-highlight-bg);
    }
  }
  // these widths are all fairly fragile
  @media all and (max-width: 45em) {
    /* hide the social media links when the screen is too narrow */
    ul.social-media-links {
      display: none;
    }
  }
  @media all and (max-width: 34em) {
    /* hide the links that are available at the bottom of the page when the screen is too narrow */
    ul.highlighted-links {
      display: none;
    }
  }
  @media all and (max-width: 22em) {
    /* this is getting ridiculous */
    ul.quick-links {
      display: none;
    }
  }
}

/**
 * Navigation bar.
 */
#navigation {
  @include grey-on-white;

  #main-menu li {
    text-transform: uppercase;
    letter-spacing: 0.1ex;
    &.last, &:last-child {
      margin-right: -0.1ex;
    }
  }
}

// vim:sts=2:sw=2:et
