/**
 * General page styles
 *
 * Author: Alex Merry
 */

/* default to the footer's bg, in case it's not actually at the bottom */
body,
html,
#footer-container {
  /* TODO: I think this should be a textured image */
  background: $brand-dark-grey-fg;
  color: $brand-white-fg;
  a, a:visited {
    color: $brand-grey-fg;
  }
}

/* the actual content defaults to dark grey on white */
#page {
  background: white;
  color: $brand-dark-grey-fg;
  a, a:visited {
    color: $brand-dark-grey-fg;
  }
}



/* vim:sts=2:sw=2:et
*/
