.people{
  h2.light{
    margin:0px;
  }
  .text{
  text-align:left;
  width:18%;
  margin-left:1%;
  margin-right:1%;
    .caption{
      text-align:left;
      width:100%;
    }
  }
 .strong{
    color:$brand-red-bg;
  }
  .wideblock.even{
    margin-bottom:10%;
   }
  img {
    float:left;
    margin-right:2%;
    }
    .small{
      width:80%;
    }
  .image{
    margin:2%;
    margin-top:5%;
  }
}
