.people{
  h2.light{
    font-weight:300;
    margin:0px;
  }
  p.byline{
    font-size:1.5em;
    margin:1em 0;
  }
  p .title{
    color:$brand-red-bg;
  }
  .text{
  text-align:left;
  width:18%;
  margin-left:1%;
  margin-right:1%;
    .caption{
      text-align:left;
      width:100%;
    }
  }
 .strong{
    color:$brand-red-bg;
  }
  .wideblock.even{
    margin-bottom:10%;
   }
  hr{
    border:0;
    border-bottom:1px dashed #ccc;
  }
  img {
    border-width:20px;
    border:solid;
    border-radius:100%;
    border-color:white;
    box-shadow:0px 0px 1pt 1pt grey;
    float:left;
    margin-right:2%;
    }
    .small{
      width:80%;
    }
}
