.people{
  h2.light{
    font-weight:300;
    margin:0px;
  }
  p.byline{
    font-size:1.5em;
  }
  .text{
  text-align:left;
  width:18%;
  margin-left:1%;
  margin-right:1%;
    .caption{
      text-align:left;
      width:100%;
    }
  }
 .strong{
    color:$brand-red-bg;
  }
  .wideblock.even{
    margin-bottom:10%;
   }
}
