/**
 * @file
 * Positioning for the Summerton GWWC layout.
 */

/* FIXME: sticky footer? seems to require a fixed height
$footer-height: 10em;
html, body {
  height: 100%;
}
#page {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto 0-$footer-height;
}
#footer, .push {
  height: $footer-height;
}
*/

/**
 * Center content
 *
 * For screen sizes larger than 1200px, prevent excessively long lines of text
 * by setting a max-width.
 */
.content-block {
  margin-left: auto;
  margin-right: auto;
  max-width: $max-content-width;
  padding-left: 2em;
  padding-right: 2em;
}

#page-title {
  @extend %element-invisible;
}

#header-container {
  width: 100%;
  top: 0;
  left: 0;

  .header__logo {
    float: left; /* LTR */
    margin: 0;
    padding: 0;
  }
  .header__logo-image {
    vertical-align: bottom;
  }
  #site-name {
    @include element-invisible;
  }

  // Blocks in the header go on the right of the bar, vertically centered.
  // This means using a table layout (for the vertical centering).
  // TODO: fallback for this table/table-cell stuff for IE 7 (float right?).
  .header-inner {
    display: table;
    width: 100%;
    .header-logo-container, .header-region-container {
      vertical-align: middle;
      display: table-cell;
    }
  }
  .header__region {
    display: table;
    float: right;
    .block {
      @include reset-box-model;
      display: table-cell;
      vertical-align: middle;
    }
  }
}
#header, #footer {
  max-width: $max-content-width;
  margin-left: auto;
  margin-right: auto;
}
#header {
  @include clearfix
}

article {
  /* hack to prevent margins collapsing */
  padding-top: 1px;
}

#footer-container {
  width: 100%;
  position: absolute;
  left: 0;
}

/**
 * Navigation bar
 */
$nav-border: 0.4em;
/* Extend header down to make room for nav */
#header-container {
  padding-bottom: $nav-height + $nav-border;
}
#main {
  position: relative;
  /* hack to prevent margins collapsing */
  padding-top: 1px;
}
#navigation {
  /* Move the navbar up inside #main/#header's padding. */
  position: absolute;
  top: 0 - $nav-height - $nav-border;
  height: $nav-height;
  width: 100%;

  .block {
    @include reset-box-model;
  }

  .block-menu .block__title,
  .block-menu-block .block__title {
    @extend %element-invisible;
  }

  #main-menu {
    max-width: $max-content-width;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    ul.links {
      @include justified-horizontal-list($min-spacing: 1em, $height: $nav-height);
    }
  }
}

// vim:sts=2:sw=2:et
