
.clearfix {
    zoom:1;
    &:before, &:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }
    &:after {
        clear: both;
    }
}
div .left {
    float:left;
    display:inline-block;
    
}

div .right {
    float:right;
}

div .top {
    vertical-align:top;
}

div .middle {
    vertical-align:middle;
}

div .wideblock {
//    overflow:auto;
    @extend .container;
    padding: 10px 0px 10px 0;

}
.half-container{
  width:40%;
}
.left-half-container{
  @extend .half-container;
  margin-left:8%;
  margin-right:2%;
}
.right-half-container{
  @extend .half-container;
  margin-left:2%;  
  margin-right:8%;
}


/* For modern browsers */
.container:before,
.container:after {
    content:"";
    display:table;
}
.container:after {
    clear:both;
}
/* For IE 6/7 (trigger hasLayout) */
.container {
    zoom:1;
//    text-align: justify;
}

.justify {
    text-align: justify;
}

.sminline {
    display:inline;
}

.inline {
    display:inline-block;
}

.stretch {
    width: 100%;
    display:inline-block;
}


$radius: 220px;

div.circular {
    width:$radius;
    height:$radius;
    border-radius: ($radius/2)+20;
    -webkit-border-radius: $radius/2+20;
    -moz-border-radius: $radius/2+20;
    margin-bottom: 20px;
    border-width:10px;
    border-color:white;
    border-style:solid;
}

div.widecolumn{
  width:78%;
}
div.halfcolumn{
  width:48%;
}
div.thincolumn{
  width:18%;
}

p.caption {
    width:$radius;
    text-align: center;
    height: 5em;
}
p.longcaption{
  @extend p.caption;
  width:100%;
}

.tcenter {
    text-align: center;
}

center {
    margin-left: auto;
    margin-right: auto;
}
p.inline {
    display:inline;
}

// FORMS

input {
    &.short {
        width: 20px;
    }
    &.long {
        width: 60px;
    }
}

